<!DOCTYPE HTML>
<html ng-app>
    <head>
    	<meta charset="utf-8">
        <script src="js/angular.min.js"></script>
    </head>
    <body>

        Hello {{'World'}}!
        <hr>

        Your name: <input type="text" ng-model="yourname" placeholder="World"><!-- 绑定到一个叫yourname的模型变量 -->
        <hr>
        Hello {{yourname || 'World'}}!
        
        <hr>
        <div ng-app="">
		  <p>在输入框中尝试输入：</p>
		  <p>姓名：<input type="text" ng-model="name"></p>
		  <p ng-bind="name"></p>
		</div>
        
		<hr>
        <p>1 + 2 = {{ 1 + 2 }}</p>
		
        <hr>
        <ul>
		    <li>
		        <span>Nexus S</span>
		        <p>
		        Fast just got faster with Nexus S.
		        </p>
		    </li>
		    <li>
		        <span>Motorola XOOM™ with Wi-Fi</span>
		        <p>
		        The Next, Next Generation tablet.
		        </p>
		    </li>
		</ul>

		<p>Total number of phones: 2</p>

		<hr>
		<h3>AngularJS 数字</h3>
		<div ng-app="" ng-init="quantity=1;cost=5">
			<p>总价： {{ quantity * cost }}</p>
		</div>
        
        <hr>
		<div ng-app="" ng-init="quantity=1;cost=5">
			<p>总价： <span ng-bind="quantity * cost"></span></p>
		</div>  

		<hr>
		<h3>AngularJS 字符串</h3>
		<div ng-app="" ng-init="firstName='John';lastName='Doe'">
			<p>姓名： {{ firstName + " " + lastName }}</p>
		</div>  

		<hr>  
		<div ng-app="" ng-init="firstName='John';lastName='Doe'">
			<p>姓名： <span ng-bind="firstName + ' ' + lastName"></span></p>
		</div>  

		<hr>
		<h3>AngularJS 对象</h3>
		<div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
			<p>姓为 {{ person.lastName }}</p>
		</div>

		<hr>
		<div ng-app="" ng-init="person={firstName:'John',lastName:'Doe'}">
			<p>姓为 <span ng-bind="person.lastName"></span></p>
		</div>

		<hr>
		<h3>AngularJS 数组</h3>
		<div ng-app="" ng-init="points=[1,15,19,2,40]">
			<p>第三个值为 {{ points[2] }}</p>
		</div>

		<hr>
		<div ng-app="" ng-init="points=[1,15,19,2,40]">
			<p>第三个值为 <span ng-bind="points[2]"></span></p>
		</div>

    </body>
</html>